body{
	background-color:#f8f8f8;
}
h1{
	text-align:center;
	background-color:#EDEDED;
	
}
.book{
	background-color:#EDEDED;
	text-align:center;
	margin-top:10px;
}
.book h2, .book p{
	text-align:left;
}
.book-library{
	background-color:#ffffff;
}
button{
	background-color:#2ecc71;
	border:none;
	width:100%;
	color:#ffffff;
}